#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.search-input {
  width: 80%;            
  max-width: 500px;      
  height: 45px;
  font-size: 16px;
  padding: 10px 15px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
